@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// general variable
$bg-body: #1b2845;
$general-font: "Poppins";
$primary-color: #28a562;

@mixin default-btn {
  border: 0;
  padding: 5px 45px;
  border-radius: 5px;
  border: 2px solid $primary-color;
}

@mixin btn-outline {
  @include default-btn();
  background-color: transparent;
  color: $primary-color;
}

@mixin btn-fill {
  @include default-btn();
  background-color: $primary-color;
  color: #fff;
}

@mixin btn-blank {
  @include default-btn();
  border: none;
  background-color: transparent;
  color: $primary-color;
}

.text-green {
  color: $primary-color;
}

@mixin white2 {
  color: #fff;
  opacity: 68%;
  font-size: 1rem;
}

.white2 {
  @include white2();
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-body;
  font-family: $general-font;
  overflow-x: hidden !important;
}

// nav
nav {
  padding: 10px 0;

  ul {
    list-style: none;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: #fff;
        padding: 7px 20px;
      }

      a:hover {
        color: $primary-color;
      }

      a.sign-in {
        @include btn-outline();
        margin-left: 30px;
      }

      a.sign-in:hover {
        @include btn-fill();
      }
    }

    .btn-dropdown {
      padding: 0 !important;
      color: #fff !important;
    }

    .dropdown-menu {
      li a {
        &:hover {
          color: #fff;
          background-color: #1f7949;
        }
      }
    }

    .btn-group {
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  nav {
    .container {
      a#logo-petrolida,
      button {
        z-index: 1;
      }

      ul.main-ul {
        display: none !important;
      }

      ul.main-ul.responsive {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        background: $bg-body;
        margin: 0;
        padding: 0px;
        padding-top: 80px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        a.sign-in {
          margin: 0;
        }

        .li {
          margin: 10px 0;

          &:last-child {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
// end nav

// hero
section#hero {
  min-height: 80vh;

  #floatingHero1 {
    width: 382px;
    height: 382px;
    background: linear-gradient(235.88deg, #20624c -5.77%, rgba(32, 98, 76, 0.4) 134.71%);
    filter: blur(100px);
    top: 0%;
    right: 0%;
    z-index: -1;
  }

  #floatingHero2 {
    width: 578px;
    height: 293px;
    background: linear-gradient(240.92deg, #224a6e -15.43%, rgba(32, 98, 76, 0.4) 92.34%);
    filter: blur(100px);
    transform: rotate(-27.67deg);
    top: 20%;
    right: 20%;
    z-index: -1;
  }

  .container {
    width: 70%;

    h1 {
      font-weight: bold;
      font-size: 56px;
    }

    a {
      margin: 0 10px;
      transition: all 0.3s ease;
      text-decoration: none;
    }

    a:hover {
      transform: scale(1.07);
    }

    a.btn-hero-first {
      @include btn-outline();
    }

    a.btn-hero-second {
      @include btn-fill();
    }
  }
}

@media screen and (max-width: 768px) {
  section#hero {
    text-align: start !important;

    #floatingHero1,
    #floatingHero2 {
      width: 300px;
      height: 300px;
    }

    .container {
      width: 100%;

      h1 {
        font-size: 30px;
      }

      a {
        text-align: center;
      }

      a:hover {
        transform: scale(1);
      }

      a.btn-hero-second {
        margin-bottom: 10px;
      }

      a.btn-hero-second:focus {
        background-color: #216b43; /* make more dark */
      }

      a.btn-hero-third {
        @include btn-blank();
      }

      a.btn-hero-third:focus {
        @include btn-outline();
      }
    }
  }
}
// end hero

// video
section#video {
  min-height: 80vh;

  #floatingVideo1 {
    width: 382px;
    height: 382px;
    background: linear-gradient(224.86deg, #163044 -4.83%, rgba(32, 98, 76, 0.4) 158.13%);
    filter: blur(100px);
    z-index: -1;
    top: -10%;
    left: 0;
  }

  #floatingVideo2 {
    width: 400px;
    height: 400px;
    background: linear-gradient(224.86deg, #163044 -4.83%, rgba(32, 98, 76, 0.4) 158.13%);
    filter: blur(100px);
    z-index: -1;
    bottom: 10%;
    right: 10%;
  }

  h2 {
    font-size: 32px;
  }

  iframe {
    width: 100%;
    height: 70vh;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }

  .left-video {
    width: 60%;
  }

  .right-video {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  section#video {
    iframe {
      height: 35vh;
    }

    .container-content-video {
      display: block !important;
    }

    .left-video,
    .right-video {
      width: 100%;
    }

    .left-video {
      margin-bottom: 20px;
    }
  }
}
// end video

// competitions
section#competitions {
  min-height: 80vh;

  .container-content-competitions {
    .card-competitions {
      background: rgba(255, 255, 255, 0.04);
      height: 270px;
      position: relative;
      color: white;
      text-decoration: none;
      display: block;
      cursor: pointer;
      padding: 20px;
      transition: 0.3s all ease;
      // color: red;

      p {
        &:nth-of-type(1) {
          @include white2();
        }
      }

      .read-more {
        position: absolute;
        bottom: 2%;
        left: 7%;
      }
    }

    .card-competitions:hover {
      background-color: $primary-color;
      color: #fff !important;
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 992px) {
  section#competitions {
    .header {
      width: 100% !important;
    }
  }
}
// end competitions

// non-competitions
section#non-competitions {
  min-height: 80vh;

  .container {
    .container-non-competitions {
      h2,
      p {
        width: 50%;
      }
    }

    .slider {
      .item-slider {
        .container-text-item-slider {
          background: rgba(255, 255, 255, 0.04);
          border-radius: 0 0 8px 8px;
          padding: 14px;

          p {
            @include white2();
          }

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  section#non-competitions {
    .container {
      .container-non-competitions {
        display: block !important;

        h2,
        p {
          width: 100%;
        }
      }

      // .slick-prev:before, .slick-next:before {
      //   color: transparent !important;
      // }
    }
  }
}
// end non-competitions

// testimonials
section#testimonials {
  min-height: 80vh;

  .background {
    background: rgba(255, 255, 255, 0.04);

    .container {
      padding: 0 100px;

      .btn {
        margin: 0 5px;
        font-size: 1.2rem;
      }

      #btn-left-testi {
        background-color: #fff;

        &:hover {
          background-color: rgb(216, 216, 216);
        }
      }

      #btn-right-testi {
        background-color: $primary-color;

        &:hover {
          background-color: #1f7949;
        }
      }

      video {
        position: absolute;
        right: 10%;
        top: -50%;

        &:focus {
          outline: none;
        }
      }

      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/quote-left.svg");
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        top: -10%;
        left: 2%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  section#testimonials {
    .background {
      .container {
        padding: 0 0 100px 0;

        p {
          &:nth-of-type(2) {
            margin-bottom: 30px !important;
          }
        }

        video {
          left: 50%;
          transform: translateX(-50%);
          top: 86%;
        }

        &::before {
          top: -5%;
          left: 70%;
        }
      }
    }
  }
}
// end testimonials

// cta
section#cta {
  min-height: 60vh;

  .container {
    padding-top: 90px;

    button {
      @include btn-fill();
      transition: 0.3s all ease;
    }

    button:hover {
      transform: scale(1.07);
    }
  }
}

@media screen and (max-width: 1200px) {
  section#cta {
    .container {
      padding-top: 250px;
    }
  }
}

@media screen and (max-width: 992px) {
  section#cta {
    .container {
      width: 100% !important;
    }
  }
}
// end cta

// sponsors
section#sponsors {
  min-height: 80vh;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  section#sponsors {
    .row {
      .col-6 {
        margin-bottom: 30px;
      }
    }
  }
}
// end sponsors
