@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/* Ingat hanya diterapkan pada body */
body {
    font-family: Roboto, "sans-serif";
    display: flex;

    /* Untuk berada di tengah secara vertikal */
    align-items: center;

    /* Untuk berada di tengah secara horizontal */
    justify-content: center;
    height: 100vh;
    
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;

    /* Ingat flex gabungan dari flex-grow, flex-basis, dan flex-shrink */
    flex: 0.5;
    margin: 10px;

    /* Container dari text dikasih relative */
    position: relative;

    /* property, duration, kind-speed, delay */
    /* Akan diterapkan pada .panel.active */
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
    /* flex: 5 akan berubah jadi 0.5 ketika kotak lain dlcik karena class activenya telah pindah */
    /* akan menyusut secara perlahan 0.7s */
}

.panel.active h3 {
    opacity: 1;
    /* Opacity 1 diatas akan langsung hilang ketika di click karena class activenya telah pindah */

    /* Akan diterapkan pada .panel h3 */
    transition: opacity 0.2s ease-in 0.5s;
}

@media (max-width: 480px) {
    .container {
        width: 100vh;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}

